<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DungeonDrive.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <DungeonDrive.Properties.Settings>
            <setting name="FullScreen" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="CloseKey" serializeAs="String">
                <value>Escape</value>
            </setting>
            <setting name="UpKey" serializeAs="String">
                <value>W</value>
            </setting>
            <setting name="LeftKey" serializeAs="String">
                <value>A</value>
            </setting>
            <setting name="DownKey" serializeAs="String">
                <value>S</value>
            </setting>
            <setting name="RightKey" serializeAs="String">
                <value>D</value>
            </setting>
            <setting name="SelectKey" serializeAs="String">
                <value>Enter</value>
            </setting>
            <setting name="InventoryKey" serializeAs="String">
                <value>Space</value>
            </setting>
            <setting name="DeleteAttackKey" serializeAs="String">
                <value>T</value>
            </setting>
            <setting name="SkillTreeKey" serializeAs="String">
                <value>F</value>
            </setting>
            <setting name="SwitchSkillKey" serializeAs="String">
                <value>Tab</value>
            </setting>
            <setting name="ControllerEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SoundEnabled" serializeAs="String">
                <value>True</value>
            </setting>
        </DungeonDrive.Properties.Settings>
    </userSettings>
</configuration>